@font-face {
    font-family: cursedTimer;
    src: url(./CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

p {
    font-family: cursedTimer;
    background: #080001;
    color: #F94F6D;
    margin: 30px 0px 10px 0px;
    padding: 20px 40px;
    font-size: 90px;
    border-radius: 5px;
}

button {
    font-family: cursedTimer;
    background: #1B244A;
    border-color: #9AABD8;
    color: #9AABD8;
    border-radius: 3px;
    font-size: smaller;
    padding: 6px 6px;
    margin: 0px 2px;
}

h3 {
    color: #EEEEEE;
}